.container
{
    margin: auto;
    align-items: center;
    color:rgb(27, 105, 11);
    display: flex;
    flex-direction: column;
    /* width: 50vw; */
    text-align: center;
    padding: 5rem 5rem 5rem 5rem;
    font-size: 2rem;
}

.header
{
    font-size: 1.5rem;
    text-align: center;
    background-color: cadetblue;
    padding: 1rem 1.0rem;
    color-adjust:rgb(255, 255, 255);
    /* text-align: center;
    margin: 2rem 0rem;
     */
}

body{
    background-color: rgb(233, 255, 224);
    font-size: 2rem;
    text-align: center;
    margin:auto;
}

h1
{
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0rem;
    padding: 0.5rem 1.0rem;
    color: rgb(38, 1, 73);;
}

h2{
    font-size: 1.8rem;
    display: block;
}

.container
{
    margin: auto;
    padding: 0.5rem 0rem;
    text-align: center;
}

.btn
{
    background-color: white;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.result
{
    font-size: 1.5rem;
    margin: 2rem;
    padding: 1rem 1.0rem;
    color: rgb(0, 71, 0);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-align: justify;
text-align: center;
}
.result2
{
    font-size: 1.5rem;
    margin-top: 0rem;
    padding: 1.5rem 1.0rem;
    color: red;
    background-color: rgb(252, 244, 244);
    font-style: italic;
    font-weight: bold;
    text-align: justify;
}

.btn2
{
    background-color: rgb(247, 246, 245);
    font-size: 1.6rem;
}

.change-table
{
    background-color: rgb(253, 242, 221);
    border-radius: 1.5;
    border-color:black ;
    /* font-style: italic; */
    margin: auto;
    padding: 1.5rem 1.5rem;
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
}

td, thead, tbody{
    border: 2px solid black;
    width: 0%;
    border-collapse: collapse;
}

.msg
{
    color: rgb(18, 3, 85);
    font-size: 2rem;
}

footer
{
    background-color: black;
    color: white;
    font-size: 1rem;
    
}

.pd
{
    padding: 1rem;
}

img {
    width: 20px;
    padding: 1rem 0.2rem;
  }